* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
  color: blanchedalmond;
}
.header {
  background: #ffff;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}
.navbar {
  max-width: 1150px;
  margin: auto;
  padding: 18px, 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #0966b8;
  font-size: 25px;
}
.nav_links {
  display: flex;
  gap: 28px;
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: #07349e;
  font-weight: bold;
}
.nav-links a:hover {
  color: #c1b706;
}
.manu-btn {
  display: none;
  background: #0966b8;
  color: wheat;
  border: none;
  padding: 8px, 13px;
  font-size: 22px;
  border-radius: 8px;
  cursor: pointer;
}
.hero {
  max-width: 1150px;
  min-height: 90vh;
  margin: auto;
  padding: 80px 24px;
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  align-items: center;
  gap: 40px;
}
.welcome {
  color: green;
  font-weight: bold;
  margin-bottom: 12px;
}
.hero-text h1 {
  font-size: 58px;
  color: #101828;
  margin-bottom: 12px;
}
.button {
  display: flex;
  gap: 15px;
}
.btn {
  padding: 14px 24px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}
.primary {
  background: #0966b8;
  color: rgba(255, 255, 255, 0.972);
}
.secondary {
  border: 1px solid #07349e;
  color: #0966b8;
  background: whitesmoke;
}
.profile-card {
  background: linear-gradient(135deg, #07349e, #0966b8);
  color: whitesmoke;
  padding: 35px;
  border-radius: 24px;
  text-align: center;
  box-shadow: 0 20px 45px rgba(9, 102, 184, 0.25);
}
.avatar {
  width: 145px;
  height: 145px;
  background: whitesmoke;
  color: #07349e;
}
